@use 'darkmode.scss';
@use 'navbar.scss';
@use 'index.scss';

body {
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

a {
    color: #000;
}

h1 {
    color: rgb(27, 71, 71);
    font-family: Noto serif, serif;
    text-align: left;
    font-size: xx-large;

}

.main-container {
    position: relative;
    margin: 0rem 15rem;
    padding-inline: 4.5rem;
    padding-block: 2rem;
    box-shadow: 1px 2px 15px 0px rgba(0, 0, 0, 0.2);
}